---
layout: default
---
<article class="post">
  {%- if page.image -%}
    <div class="featuredImage">
        <img src="{{ '/assets/img/' | append: page.image }}" alt="" />
      </div>
  {%- endif -%}
  <header>
    <h2 class="postTitle">{{ page.title }}</h2>
    <p class="meta">{{ page.date | date: '%d.%m.%Y' }} г. | <span class="time">{{ page.content | number_of_words | divided_by:10 }}</span> Minute Read</p>
  </header>

  {{ content }}

  <!-- POST NAVIGATION -->
  <footer class="postNav clearfix">
    <a href="https://Smart-Banking.github.io">Начало</a>
  </footer>
</article>
